In [2]:
#Zomata - Food Delivery Data Insights Using Python and SQL

In [3]:
from faker import Faker
fake=Faker()

import pandas as pd 
import random

In [4]:
#Customers dataset
customers_table=[]
for i in range(300):
        customers_table.append({
            'customer_id': fake.uuid4(),
            'name': fake.name(),
            'email':fake.email(),
            'phone':fake.phone_number(),
            'location':fake.city(),
            'signup_date':fake.date_this_decade(),
            'is_premium':fake.boolean(),
            'preferred_cusine':random.choice(['Indian','American','Chinese','French','Italian','Mexican']),
            'total_orders':random.randint(0,100),
            'average_rating':(random.uniform(1,5))
        })
customers_df=pd.DataFrame(customers_table)
# customers_df.to_csv('customers_data.csv',index=False)

In [5]:
customers_df

,customer_id,name,email,phone,location,signup_date,is_premium,preferred_cusine,total_orders,average_rating
0,c20cd0bc-ed21-4354-bd48-5679825c671e,Jeremy Montoya,butleralexandra@example.com,808.459.0660x15330,Port Aaron,2020-02-04,False,Chinese,89,2.705522
1,ddd3d06c-3ada-4805-b13c-7548feb4399d,Keith Barber,patrick14@example.net,8645217693,Stonemouth,2021-05-24,False,French,66,1.043595
2,b4d098b5-7b44-4881-864a-f9330f98cb7d,Brandon Hill,acevedodawn@example.com,388-956-9070,Clarkview,2022-09-28,True,Chinese,24,1.243093
3,a7ce07e4-bf40-4723-9ff3-f92085ceb3f7,Whitney Phillips,acostalisa@example.net,001-354-395-6099,Lake Brian,2022-06-24,False,French,81,1.029624
4,0061c6ed-747f-49e1-8cf7-3ed446bcabb1,Monica Wright,douglas48@example.com,(688)267-3197x23612,Taylorshire,2022-01-18,True,Mexican,27,4.748076
...,...,...,...,...,...,...,...,...,...,...
295,593422ab-cdc7-4407-85a7-13309a714f10,Joel Garcia,troy80@example.net,001-580-592-0592,Richardside,2024-10-03,True,Indian,37,2.475574
296,f6bea792-73ac-4f20-87fb-4806d47e3a47,Edward Miller,jeffery77@example.net,001-440-464-4827x4997,Lake Jennifer,2024-04-25,True,Indian,19,1.021484
297,64092afe-db89-4630-91a8-46b89597536d,Kristen Collins,danielrogers@example.net,001-702-457-9488x14027,Phillipsside,2021-03-24,True,Mexican,88,3.803191
298,ee6e2fc8-6ae6-428a-bcad-45c1ead3385d,Danielle Oliver,yhinton@example.net,+1-780-930-0059x2522,Patelstad,2024-01-07,True,French,91,2.962515
299,8aec5aee-b7e2-4d7b-b19c-8f7564e2d969,Michael Sheppard,jamiedominguez@example.org,514.508.0992x714,Phillipview,2022-09-17,True,American,62,1.565173

In [6]:
#to drop duplicates
customers_df.drop_duplicates(subset=['customer_id'])

,customer_id,name,email,phone,location,signup_date,is_premium,preferred_cusine,total_orders,average_rating
0,c20cd0bc-ed21-4354-bd48-5679825c671e,Jeremy Montoya,butleralexandra@example.com,808.459.0660x15330,Port Aaron,2020-02-04,False,Chinese,89,2.705522
1,ddd3d06c-3ada-4805-b13c-7548feb4399d,Keith Barber,patrick14@example.net,8645217693,Stonemouth,2021-05-24,False,French,66,1.043595
2,b4d098b5-7b44-4881-864a-f9330f98cb7d,Brandon Hill,acevedodawn@example.com,388-956-9070,Clarkview,2022-09-28,True,Chinese,24,1.243093
3,a7ce07e4-bf40-4723-9ff3-f92085ceb3f7,Whitney Phillips,acostalisa@example.net,001-354-395-6099,Lake Brian,2022-06-24,False,French,81,1.029624
4,0061c6ed-747f-49e1-8cf7-3ed446bcabb1,Monica Wright,douglas48@example.com,(688)267-3197x23612,Taylorshire,2022-01-18,True,Mexican,27,4.748076
...,...,...,...,...,...,...,...,...,...,...
295,593422ab-cdc7-4407-85a7-13309a714f10,Joel Garcia,troy80@example.net,001-580-592-0592,Richardside,2024-10-03,True,Indian,37,2.475574
296,f6bea792-73ac-4f20-87fb-4806d47e3a47,Edward Miller,jeffery77@example.net,001-440-464-4827x4997,Lake Jennifer,2024-04-25,True,Indian,19,1.021484
297,64092afe-db89-4630-91a8-46b89597536d,Kristen Collins,danielrogers@example.net,001-702-457-9488x14027,Phillipsside,2021-03-24,True,Mexican,88,3.803191
298,ee6e2fc8-6ae6-428a-bcad-45c1ead3385d,Danielle Oliver,yhinton@example.net,+1-780-930-0059x2522,Patelstad,2024-01-07,True,French,91,2.962515
299,8aec5aee-b7e2-4d7b-b19c-8f7564e2d969,Michael Sheppard,jamiedominguez@example.org,514.508.0992x714,Phillipview,2022-09-17,True,American,62,1.565173

In [7]:
customers_df.to_csv('customers_data.csv',index=False)

In [8]:
customers_table=pd.read_csv('customers_data.csv')

In [9]:
restaurants_table = []
for i in range(300):
    restaurants_table.append({
        'restaurant_id': fake.uuid4(),
        'name': fake.company(),
        'cusine_type': random.choice(['Indian', 'American', 'Chinese', 'French', 'Italian', 'Mexican']),
        'location': fake.city(),
        'owner_name': fake.name(),
        'average_delivery_time': random.randint(10, 60),
        'contact_number': fake.phone_number(),
        'rating': round(random.uniform(1, 5), 2),  # Format the rating to two decimal places
        'total_orders': random.randint(0, 100),
        'is_active': fake.boolean(),
    })
    
restaurants_df = pd.DataFrame(restaurants_table)
restaurants_df.to_csv('restaurants_data.csv',index=False)

In [10]:
restaurants_df.drop_duplicates(subset=['restaurant_id'])

,restaurant_id,name,cusine_type,location,owner_name,average_delivery_time,contact_number,rating,total_orders,is_active
0,2203fecb-6c88-405d-858c-06dc95b3828b,Perez-Woods,French,Port Reginashire,Charles Ramirez,30,890.486.7875x8897,2.54,80,False
1,35e90f9d-1bfa-4689-9e58-c1d9abdf026f,Jimenez-Jackson,Indian,New Rachaelstad,Eric Weber,25,(868)512-9769x340,1.46,88,True
2,daa63d7e-b087-48c3-9a81-53e0e4b3e6e1,Knight Group,French,Port Wesleyberg,Christopher Richard,31,995.610.3727,1.88,26,True
3,ca81f9a1-71c6-41d0-a332-7c4246fdaf05,"Duran, Brown and Alexander",Chinese,Port Jonathan,James Hughes,20,384-975-4269x6744,4.76,65,False
4,0a5f79cb-72a9-4264-b1e0-4b3cea49e13d,Richardson-Sutton,Chinese,Martinezchester,Daniel Davidson,30,(592)420-5886,3.85,4,False
...,...,...,...,...,...,...,...,...,...,...
295,e31e513a-9e18-494b-865c-ef46855f7555,Wood LLC,American,Jamesborough,Claire Roberts,48,(253)784-2679,3.72,39,False
296,2241e776-d8a3-41ab-a962-acd04863fff4,"Nunez, York and Crawford",American,Watsonfort,Matthew Watson,52,634.974.8784x864,4.89,15,False
297,3f64e396-7a39-467d-9624-82b32e4c3e29,"Warner, Daniels and Brown",Mexican,Blakeberg,Robert Bryan,20,512-851-1528x60626,3.92,52,False
298,e45737fe-9573-4195-b4d3-d79f2f198cb7,Gardner and Sons,American,New Rachel,Debra Ross,35,559-333-0408x4123,2.57,91,False
299,bc40eaa0-86a3-45b1-b878-cf3db7007653,Robinson and Sons,Chinese,Brockville,Andrew Wilson,13,(900)512-4650x115,4.75,6,False

In [11]:
restaurants_df.to_csv('restaurants_data.csv',index=False)

In [12]:
restaurants_table=pd.read_csv('restaurants_data.csv')

In [13]:
#orders dataset
orders_table = []
for i in range(300):
    total_amount = random.randint(100, 1000)
    if total_amount < 200:
        discount_applied = random.randint(0, 10)  # Small orders get small discounts
    elif total_amount < 500:
        discount_applied = random.randint(10, 50)  # Medium orders get medium discounts
    else:
        discount_applied = random.randint(50, 100)  # Large orders get larger discounts

    orders_table.append({
        'order_id': fake.uuid4(),
        'customer_id':customers_df["customer_id"],
        'restaurant_id':restaurants_df["restaurant_id"],
        'order_date': fake.date_time_this_decade(),
        'delivery_time': fake.date_time_this_decade(),
        'status': random.choice(['Pending', 'Delivered', 'Cancelled']),
        'total_amount': total_amount,
        'discount_applied': discount_applied,
        'payment_mode': random.choice(['Credit Card', 'Cash', 'UPI']),
        'feedback_rating': random.randint(1, 5)  # corrected this line as well
    })

orders_df = pd.DataFrame(orders_table)
orders_df

,order_id,customer_id,restaurant_id,order_date,delivery_time,status,total_amount,discount_applied,payment_mode,feedback_rating
0,00401b15-3c49-4e97-a3a4-11341b55d69a,0 c20cd0bc-ed21-4354-bd48-5679825c671e 1 ...,0 2203fecb-6c88-405d-858c-06dc95b3828b 1 ...,2020-09-29 21:33:30,2020-05-24 04:49:03,Cancelled,463,14,UPI,3
1,ab22290c-cc9e-4ec1-8f4b-6e45453cecc0,0 c20cd0bc-ed21-4354-bd48-5679825c671e 1 ...,0 2203fecb-6c88-405d-858c-06dc95b3828b 1 ...,2021-10-16 12:57:20,2023-11-15 05:26:18,Pending,516,67,Cash,4
2,dfd41a0e-e2ed-4204-9b96-16737b13417e,0 c20cd0bc-ed21-4354-bd48-5679825c671e 1 ...,0 2203fecb-6c88-405d-858c-06dc95b3828b 1 ...,2024-10-25 04:57:33,2024-06-23 19:23:43,Pending,839,77,UPI,2
3,f2b1958c-b9c9-42d5-8f9c-623a4192698d,0 c20cd0bc-ed21-4354-bd48-5679825c671e 1 ...,0 2203fecb-6c88-405d-858c-06dc95b3828b 1 ...,2022-10-19 18:34:27,2022-09-02 13:58:44,Pending,976,59,Credit Card,5
4,46151a2a-c184-44b4-a05a-be49ebfa08d7,0 c20cd0bc-ed21-4354-bd48-5679825c671e 1 ...,0 2203fecb-6c88-405d-858c-06dc95b3828b 1 ...,2021-03-18 23:29:36,2024-02-10 10:05:46,Cancelled,251,18,Credit Card,2
...,...,...,...,...,...,...,...,...,...,...
295,49e92a61-ff7b-47b3-bb8a-ce8fcac7630e,0 c20cd0bc-ed21-4354-bd48-5679825c671e 1 ...,0 2203fecb-6c88-405d-858c-06dc95b3828b 1 ...,2024-07-19 21:21:14,2024-08-15 22:26:31,Pending,166,4,UPI,2
296,904c95fd-dca6-4f1a-ac21-9c904f90ece7,0 c20cd0bc-ed21-4354-bd48-5679825c671e 1 ...,0 2203fecb-6c88-405d-858c-06dc95b3828b 1 ...,2022-08-02 10:49:45,2021-09-10 04:51:23,Delivered,250,15,Credit Card,4
297,447bfc5a-77b0-4909-b0c4-c76e5a010554,0 c20cd0bc-ed21-4354-bd48-5679825c671e 1 ...,0 2203fecb-6c88-405d-858c-06dc95b3828b 1 ...,2020-07-18 04:10:23,2024-07-22 14:25:11,Pending,579,77,Cash,4
298,7050a122-c69a-4bbb-bb43-18a2a85114f7,0 c20cd0bc-ed21-4354-bd48-5679825c671e 1 ...,0 2203fecb-6c88-405d-858c-06dc95b3828b 1 ...,2023-07-29 01:26:54,2022-09-10 16:40:38,Pending,663,61,UPI,5
299,1db691f8-266a-40f7-9c3a-48bcca4bc6ca,0 c20cd0bc-ed21-4354-bd48-5679825c671e 1 ...,0 2203fecb-6c88-405d-858c-06dc95b3828b 1 ...,2021-07-17 15:55:11,2021-07-18 02:38:41,Cancelled,855,83,Cash,2

In [14]:
orders_df.to_csv('orders_data.csv',index=False)

In [15]:
order=pd.read_csv('orders_data.csv')

In [16]:
order.drop_duplicates(subset=['order_id'])

,order_id,customer_id,restaurant_id,order_date,delivery_time,status,total_amount,discount_applied,payment_mode,feedback_rating
0,00401b15-3c49-4e97-a3a4-11341b55d69a,0 c20cd0bc-ed21-4354-bd48-5679825c671e\n1...,0 2203fecb-6c88-405d-858c-06dc95b3828b\n1...,2020-09-29 21:33:30,2020-05-24 04:49:03,Cancelled,463,14,UPI,3
1,ab22290c-cc9e-4ec1-8f4b-6e45453cecc0,0 c20cd0bc-ed21-4354-bd48-5679825c671e\n1...,0 2203fecb-6c88-405d-858c-06dc95b3828b\n1...,2021-10-16 12:57:20,2023-11-15 05:26:18,Pending,516,67,Cash,4
2,dfd41a0e-e2ed-4204-9b96-16737b13417e,0 c20cd0bc-ed21-4354-bd48-5679825c671e\n1...,0 2203fecb-6c88-405d-858c-06dc95b3828b\n1...,2024-10-25 04:57:33,2024-06-23 19:23:43,Pending,839,77,UPI,2
3,f2b1958c-b9c9-42d5-8f9c-623a4192698d,0 c20cd0bc-ed21-4354-bd48-5679825c671e\n1...,0 2203fecb-6c88-405d-858c-06dc95b3828b\n1...,2022-10-19 18:34:27,2022-09-02 13:58:44,Pending,976,59,Credit Card,5
4,46151a2a-c184-44b4-a05a-be49ebfa08d7,0 c20cd0bc-ed21-4354-bd48-5679825c671e\n1...,0 2203fecb-6c88-405d-858c-06dc95b3828b\n1...,2021-03-18 23:29:36,2024-02-10 10:05:46,Cancelled,251,18,Credit Card,2
...,...,...,...,...,...,...,...,...,...,...
295,49e92a61-ff7b-47b3-bb8a-ce8fcac7630e,0 c20cd0bc-ed21-4354-bd48-5679825c671e\n1...,0 2203fecb-6c88-405d-858c-06dc95b3828b\n1...,2024-07-19 21:21:14,2024-08-15 22:26:31,Pending,166,4,UPI,2
296,904c95fd-dca6-4f1a-ac21-9c904f90ece7,0 c20cd0bc-ed21-4354-bd48-5679825c671e\n1...,0 2203fecb-6c88-405d-858c-06dc95b3828b\n1...,2022-08-02 10:49:45,2021-09-10 04:51:23,Delivered,250,15,Credit Card,4
297,447bfc5a-77b0-4909-b0c4-c76e5a010554,0 c20cd0bc-ed21-4354-bd48-5679825c671e\n1...,0 2203fecb-6c88-405d-858c-06dc95b3828b\n1...,2020-07-18 04:10:23,2024-07-22 14:25:11,Pending,579,77,Cash,4
298,7050a122-c69a-4bbb-bb43-18a2a85114f7,0 c20cd0bc-ed21-4354-bd48-5679825c671e\n1...,0 2203fecb-6c88-405d-858c-06dc95b3828b\n1...,2023-07-29 01:26:54,2022-09-10 16:40:38,Pending,663,61,UPI,5
299,1db691f8-266a-40f7-9c3a-48bcca4bc6ca,0 c20cd0bc-ed21-4354-bd48-5679825c671e\n1...,0 2203fecb-6c88-405d-858c-06dc95b3828b\n1...,2021-07-17 15:55:11,2021-07-18 02:38:41,Cancelled,855,83,Cash,2

In [17]:
orders_table=pd.read_csv('orders_data.csv')

In [18]:
#deliveries dataset
# Assuming orders_df is a pandas DataFrame

deliveries_table = []
for i in range(300):
    deliveries_table.append({
        'delivery_id': fake.uuid4(),
        'order_id': orders_df["order_id"],
        'delivery_person_id': fake.uuid4(),
        'delivery_status': random.choice(['On the way', 'Delivered', 'Cancelled']),
        'distance': random.uniform(0, 50),
        'delivery_time': f"{random.randint(10, 60)} minutes",
        'estimated_time':f"{random.randint(10, 60)} minutes",
        'delivery_fee': random.uniform(0, 50),
        'vehicle_type': random.choice(['Car', 'Bike', 'Truck'])
    })

deliveries_df = pd.DataFrame(deliveries_table)
deliveries_df

,delivery_id,order_id,delivery_person_id,delivery_status,distance,delivery_time,estimated_time,delivery_fee,vehicle_type
0,126bbda2-3f76-4ec0-a4bc-d3f424a39690,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,88d622fe-ddfb-4491-ba30-7382b77a9dad,Delivered,28.476977,53 minutes,22 minutes,18.584688,Car
1,6febdcad-f299-4516-982b-c6e4c26b9be0,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,997ec168-941c-4c05-bdb8-483e1d9e1fad,Delivered,48.127910,57 minutes,55 minutes,30.643441,Car
2,1a4061ef-fff8-4122-9556-168459374ef4,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,f003ed90-51dc-47ff-83b7-0f32878a28e9,Cancelled,8.042648,56 minutes,51 minutes,34.684413,Truck
3,ec61a01e-61e8-41f0-a663-3089397c77cb,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,4d0b67de-3d5e-4989-8c7b-8d8818681841,Delivered,38.390797,50 minutes,30 minutes,32.900007,Truck
4,6d02c76c-0d3b-40d2-8abc-89a024223b65,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,54dd9bf2-8183-4a3d-8fd5-496faa274d11,Delivered,36.520367,46 minutes,40 minutes,35.264612,Car
...,...,...,...,...,...,...,...,...,...
295,8957a3dc-3815-4d09-8994-6287f9cedfeb,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,5d4a0ab6-8faf-4396-be06-bc47652b44ee,On the way,3.507720,38 minutes,14 minutes,6.631203,Truck
296,afc2fb90-002e-43ab-a34f-6c96044bcf80,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,ca8a7d03-9c72-4d17-ae91-c2ad2fedfa1f,On the way,4.056080,17 minutes,56 minutes,41.973412,Bike
297,d650d98a-8f72-4ddb-98fc-0a1acd6f2984,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,df2276e9-7501-45c8-bfdb-3def8f199567,On the way,47.519528,56 minutes,43 minutes,2.500206,Truck
298,0b884e03-e3e4-489d-be75-b4b2aad1175b,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,50f04c23-ff34-40be-9756-1f29aaf13637,On the way,36.066090,36 minutes,47 minutes,38.738317,Truck
299,c4270bc9-97b9-4683-9f26-502f817dfd01,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,1b640222-832a-42e0-9cc2-9b0ef7ac198e,Delivered,49.591423,60 minutes,23 minutes,10.800268,Car

In [19]:
deliveries_df.drop_duplicates(subset=['delivery_id'])

,delivery_id,order_id,delivery_person_id,delivery_status,distance,delivery_time,estimated_time,delivery_fee,vehicle_type
0,126bbda2-3f76-4ec0-a4bc-d3f424a39690,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,88d622fe-ddfb-4491-ba30-7382b77a9dad,Delivered,28.476977,53 minutes,22 minutes,18.584688,Car
1,6febdcad-f299-4516-982b-c6e4c26b9be0,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,997ec168-941c-4c05-bdb8-483e1d9e1fad,Delivered,48.127910,57 minutes,55 minutes,30.643441,Car
2,1a4061ef-fff8-4122-9556-168459374ef4,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,f003ed90-51dc-47ff-83b7-0f32878a28e9,Cancelled,8.042648,56 minutes,51 minutes,34.684413,Truck
3,ec61a01e-61e8-41f0-a663-3089397c77cb,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,4d0b67de-3d5e-4989-8c7b-8d8818681841,Delivered,38.390797,50 minutes,30 minutes,32.900007,Truck
4,6d02c76c-0d3b-40d2-8abc-89a024223b65,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,54dd9bf2-8183-4a3d-8fd5-496faa274d11,Delivered,36.520367,46 minutes,40 minutes,35.264612,Car
...,...,...,...,...,...,...,...,...,...
295,8957a3dc-3815-4d09-8994-6287f9cedfeb,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,5d4a0ab6-8faf-4396-be06-bc47652b44ee,On the way,3.507720,38 minutes,14 minutes,6.631203,Truck
296,afc2fb90-002e-43ab-a34f-6c96044bcf80,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,ca8a7d03-9c72-4d17-ae91-c2ad2fedfa1f,On the way,4.056080,17 minutes,56 minutes,41.973412,Bike
297,d650d98a-8f72-4ddb-98fc-0a1acd6f2984,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,df2276e9-7501-45c8-bfdb-3def8f199567,On the way,47.519528,56 minutes,43 minutes,2.500206,Truck
298,0b884e03-e3e4-489d-be75-b4b2aad1175b,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,50f04c23-ff34-40be-9756-1f29aaf13637,On the way,36.066090,36 minutes,47 minutes,38.738317,Truck
299,c4270bc9-97b9-4683-9f26-502f817dfd01,0 00401b15-3c49-4e97-a3a4-11341b55d69a 1 ...,1b640222-832a-42e0-9cc2-9b0ef7ac198e,Delivered,49.591423,60 minutes,23 minutes,10.800268,Car

In [20]:
deliveries_df.to_csv('deliveries_data.csv',index=False)

In [21]:
deliveries_table=pd.read_csv('deliveries_data.csv')

In [24]:
import mysql.connector
import pandas as pd

class Database:
    def __init__(self, host, user, password, dbname):
        self.host = host
        self.user = user
        self.password = password
        self.dbname = dbname
        self.conn = None
        self.cursor = None

    def connect(self):
        try:
            self.conn = mysql.connector.connect(
                host=self.host,
                user=self.user,
                password=self.password,
                auth_plugin="mysql_native_password"
            )
            self.cursor = self.conn.cursor()
            print("Connected to MySQL database")
        except mysql.connector.Error as e:
            print(f"Error connecting to database: {e}")

    def create_database(self):
        try:
            self.cursor.execute(f"CREATE DATABASE {self.dbname}")
            print(f"Database {self.dbname} created successfully")
        except mysql.connector.Error as e:
            print(f"Error creating database: {e}")

    def create_table(self, table_name, df):
        try:
            self.cursor.execute(f"USE {self.dbname}")
            self.cursor.execute(f"CREATE TABLE {table_name} ({', '.join([f'{col} VARCHAR(1000)' for col in df.columns])})")
            print(f"Table {table_name} created successfully")
        except mysql.connector.Error as e:
            print(f"Error creating table: {e}")

    def insert_data(self, table_name, df):
        try:
            self.cursor.execute(f"USE {self.dbname}")
            for index, row in df.iterrows():
                self.cursor.execute(f"INSERT INTO {table_name} VALUES ({', '.join(['%s'] * len(row))})", tuple(row))
            self.conn.commit()
            print(f"Data inserted into table {table_name} successfully")
        except mysql.connector.Error as e:
            print(f"Error inserting data: {e}")

    def close_connection(self):
        if self.conn:
            self.conn.close()
            print("Database connection closed")

# Create a database
db = Database("localhost", "root", "Abinesh", "zomato")
db.connect()
db.create_database()

# Create tables and insert data
db.create_table("customers", customers_table)
customers_table['customer_id'] = customers_table['customer_id'].apply(lambda x: x[:50])
db.insert_data("customers",  customers_table)

db.create_table("restaurants", restaurants_table)
db.insert_data("restaurants", restaurants_table)

# Create the table
db.create_table("orders", orders_table)
orders_table['order_id'] = orders_table['order_id'].apply(lambda x: x[:50])
db.insert_data("orders", orders_table)

db.create_table("deliveries", deliveries_table)
db.insert_data("deliveries", deliveries_table)

Connected to MySQL database
Database zomato created successfully
Table customers created successfully
Data inserted into table customers successfully
Table restaurants created successfully
Data inserted into table restaurants successfully
Table orders created successfully
Data inserted into table orders successfully
Table deliveries created successfully
Data inserted into table deliveries successfully